* {
    box-sizing: border-box;
}

body {
    /*background: url(images/y-so-serious.png) repeat center center fixed;*/
    font-family: 'Open Sans', sans-serif;
}
.bigBtn {
    text-align: center;
    font-size: 4vw;
    padding: 2% 5%;
    border: 3px solid goldenrod;
    background-color: honeydew;
}
.button {
    display: inline-block;
    position: relative;
    font-size: 1vw;
    text-align: center;
    padding: 1.5% 2%;
    background-color:#AE9BBE;
    color: white;
    border: 0.2em solid purple;
    cursor: pointer;  
    margin-right: 5%;  
}
#replay {
    display: none;
}
#container {
    display: grid;
    width: 99vw;
    height: 80vh;
    position: relative;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    list-style: none;
    background-color: none;
    padding: 0;
}
.numLets {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    background-color: white;
    color: slategray;
    font-weight: 700;
    padding: 1.5%;
    margin: 3%;
    border: 0.2em solid #AE9BBE;
}
.numLets:hover {
    cursor: pointer;
}
.teens {
    color: violet;
}
.twenties {
    color: rgb(106, 190, 190);
}
.thirties {
    color: #F2BE4F;
}
.forties {
    color: #77C975;
}
.fifties {
    color: #50ADD2;
}
.sixties {
    color: #F24F90;
}
.seventies {
    color: #3EF3A2;
}
.eighties {
    color: #D6DE3B;
}
.nineties {
    color: #C84731;
}
#ui-box {
    width: 98vw;
    position: relative;
    display: grid;
    grid-template-columns: 1.25fr 1.75fr;
    margin-top: 3%;
    margin-left: 1%;
}
#cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.unicorns {
    opacity: 0;
}
#gameover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
    opacity: 0.95;
}
#congrats {
    display: none;
    font-size: 7vw;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bolder;
    color: #75E37D;
}
#playagain {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #75E37D;
    color: white;
    border: 0.2em solid #BDF4C1;
    padding: 1% 2%;
    opacity: 1;
}