body {
    background: url(images/bg-unicorn-01.png) no-repeat center center fixed;
}
h1 {
    color: chocolate;
}
.bigBtn {
    text-align: center;
    font-size: 4vw;
    padding: 2% 5%;
    border: 3px solid goldenrod;
    background-color: honeydew;
}
#container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    list-style: none;
    background-color: none;
    padding: 0;
}
.numLets {
    font-size: 3vw;
    text-align: center;
    background-color: white;
    color: slategray;
    font-weight: bolder;
    padding: 2%;
    margin: 2%;
    border: 1px solid whitesmoke;
}
.numLets:hover {
    cursor: pointer;
}
.teens {
    color: violet;
}